<div class="mdf-content-container">
  <h1 class="mdf-color-purple">
    Connexion
  </h1>
</div>
<div class="mdf-content-container mdf-align-center">


    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="form-container">
        <div class="form-group">
          <div class="label">
            Addresse Email
          </div>
          <div>
            <input type="email" formControlName="email" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="label password">
            Mot de passe
          </div>
          <div>
            <input type="password" class="form-control" formControlName="password" required>
          </div>
          <label class="error">{{errorMessage}}</label>
        </div>
      </div>

      <div>
        <div type="submit" (click)="onLogin(loginForm.value)" class="mdf-float-right btn-submit mdf-cursor-pointer">Se connecter</div>
      </div>

    </form>


</div>

