<div class="mdf-header mdf-align-center">
  <img alt="Logo Maison des femmes" src="assets/img/logo.png">
</div>

<nav>
  <div class="mdf-menu mdf-align-center">
      <a routerLink="/timetable" routerLinkActive="active" class="mdf-menu-item">
        <svg-icon src="../assets/svg/timetable.svg"  [svgStyle]="{ 'width.px':40 }"></svg-icon>
        <div>Emploi du temps</div>
      </a>
      <a routerLink="/newsletter" routerLinkActive="active" class="mdf-menu-item">
        <svg-icon src="../assets/svg/newsletter.svg"  [svgStyle]="{ 'width.px':40 }"></svg-icon>
        <div>Notre Newsletter</div>
      </a>
      <a routerLink="/documentation" routerLinkActive="active" class="mdf-menu-item">
        <svg-icon src="../assets/svg/documentation.svg"  [svgStyle]="{ 'width.px':40 }"></svg-icon>
        <div>Documentation</div>
      </a>
  </div>
</nav>

<router-outlet></router-outlet>

<app-mdf-presentation></app-mdf-presentation>
<app-mdf-footer></app-mdf-footer>

