
<div class="mdf-content-container">
  <h1 class="mdf-color-purple">
    Notre Newsletter
  </h1>
  <div class="subtitle">
    <small *ngIf="allNewsletter">{{allNewsletter[selectedNewsletter].date}}</small>
  </div>
</div>


<div *ngIf="allNewsletter">
  <div *ngFor="let item of allNewsletter[selectedNewsletter].items; index as j"
       class="mdf-content-container" [ngClass]="[item.css, item.color]">
    <div *ngIf="item.type === 'text'">
      <h2 class="title">{{item.content.title}}</h2>
      <p class="description">{{item.content.text}}</p>
    </div>

    <div *ngIf="item.type === 'text-image'" class="mdf-row">
      <div class="mdf-item-50">
        <h2 class="title">{{item.content.title}}</h2>
        <p class="description">{{item.content.text}}</p>
      </div>
      <div class="mdf-item-50">
        <img src="{{item.content.image}}">
      </div>
    </div>

  </div>
</div>



<div class="navigation mdf-align-center mdf-title-font">

  <div class="prev mdf-cursor-pointer" (click)="previous()">
    <div><svg-icon src="assets/svg/arrow-prev.svg"  [svgStyle]="{ 'width.px':70 }"></svg-icon></div>
    <div>Précédente</div>
  </div>
  <small class="date" *ngIf="allNewsletter">{{allNewsletter[selectedNewsletter].date}}</small>
  <div class="next mdf-cursor-pointer" (click)="next()">
    <div>Suivante</div>
    <div><svg-icon src="assets/svg/arrow-next.svg"  [svgStyle]="{ 'width.px':70 }"></svg-icon></div>
  </div>
</div>




