.coucou {
  width: 100%;
  height: 100px;
  background-color: #d2cbb9;
  padding-top: 40px;
}


@mixin my-color($background-color, $title-color, $text-color) {
  color: $text-color;
  background-color: $background-color;
  .title {
    color: $title-color;
  }
}

.my-fade-blue {
  @include my-color(#88aaaf, #ffffff, #464646)
}

.my-light-brown {
  @include my-color(#d2cbb9, #232323, #464646)
}

.my-pink {
  @include my-color(#ec6aaa, #ffffff, #000000)
}

.my-white {
  @include my-color(#ffffff, #000000, #92a1a5)
}

.mdf-text-image {
  img {
    width: 100%;
    max-width: 500px;
  }

  .mdf-row {
    width: 100%;
    display: flex;
    justify-content: center;

    .mdf-item-50 {
      width: 50%;
    }
  }
}

.navigation {
  background-color: #e9e9e9;
  height: 100px;
  line-height: 100px;
}

.subtitle {
  margin-top: -20px;
}
